
/* ___'s den Header */
h1 {
color: #59310E !important;
font-size: 50px;
text-align: center !important;
}
 
/* BACKGROUNDS */

@media screen and (min-width: 601px) { 
body {
background: url('https://i.postimg.cc/XJZTXFnm/lioden-wardrobe-(1)-(21).png') center center fixed;
background-size: cover;
color: #59310E; } }

@media screen and (max-width: 600px){
body {
background: url('https://i.postimg.cc/XJZTXFnm/lioden-wardrobe-(1)-(21).png') center center fixed;
background-size: cover;
color: #59310E; } }

/* MAIN PANEL - The panel in front of your background image. Usually a solid color on Lioden.*/

.container.main {
background: #FFE2A640;
transition: none !important;
animation: none !important;
border: none;
box-shadow: none;
border-radius: 5px; }
.col-md-9 {
background: none; }

/* LION AND USER AVATAR OPACITY */
   
div#lion_image {
opacity: 1.0;
border-radius: 50%;
overflow: hidden; }   
table#player img {
opacity: 1.0;
border-radius: 50%; } 


/* CUSTOM KING TITLE - AFTER */

#about > tbody > tr:nth-child(1) > td > div::after {

    content:' Text';

    font-size:17px;
}

/* LINKS */
Color of links.
 
a:link,
a:visited {
color: #A3A4BF !important;
background: none !important; }

a:hover {
color: #bebfd2 !important; }

/* TOPBAR, NAVBAR, & BREADCRUMB */
 
.topbar {
background: #D9B166 !important;
color: #A3A4BF !important;
border: none !important;
border-radius: 0px !important;  }
 
.navbar {
background: #D9B166 !important;
color: #A3A4BF !important;
border: none !important;
border-radius: 0px !important; }

.navbar li a:hover {
background: #HEX !important;
color: #e4a574 !important; }

/* This is mobile collapable navbar color changes.
toggle is the button that opens the navbar
*/

.navbar-toggle {
border: none !important;
background: #A3A4BF !important;
}

.navbar-collapse {
box-shadow: none !important;
border-top: none !important;
}
