:root {
 --Color1: #593414; /*Text, dark brown*/
 --Color2: #D9B26A; /*BG, light yellow*/
 --Color3: #BF8D50; /*Dark yellow*/
 --Color4: #A3A7BF; /*Accents, Blue*/
 --Color5: #F2E9ED; /*Light blue*/
}


/* ___'s den Header */

/* Header gradient css base from https://www.amitmerchant.com/animated-gradient-effect-in-css/ */

h1 {
 font-size: 45px;
 text-align: center !important;
    background: linear-gradient(
        to right,
        Var(--Color4) 20%,
        Var(--Color4) 30%,
        Var(--Color5) 70%,
        Var(--Color5) 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 3s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

h3 {
color: var(--Color1) !important;
font-size: 18px;}
 
/* BACKGROUNDS */

@media screen and (min-width: 601px) { 
body {
background: url('https://i.postimg.cc/XJZTXFnm/lioden-wardrobe-(1)-(21).png') center center fixed;
background-size: cover;
color: var(--Color1); } }

@media screen and (max-width: 600px){
body {
background: url('https://i.postimg.cc/XJZTXFnm/lioden-wardrobe-(1)-(21).png') center center fixed;
background-size: cover;
color: var(--Color1); } }

/* MAIN PANEL - The panel in front of your background image. Usually a solid color on Lioden.*/

.container.main {
background: #FFE2A640;
transition: none !important;
animation: none !important;
border: none;
box-shadow: none;
border-radius: 5px; }
.col-md-9 {
background: none; }

/* LION AND USER AVATAR OPACITY */
   
div#lion_image {
opacity: 1.0;
border-radius: 50%;
overflow: hidden; }   
table#player img {
opacity: 1.0;
border-radius: 50%; } 


/* CUSTOM KING TITLE - AFTER */

#about > tbody > tr:nth-child(1) > td > div::after {

    content:' Text';

    font-size:17px;
}


/* TOPBAR, NAVBAR, & BREADCRUMB */
 
.topbar {
background: var(--Color3) !important;
color: var(--Color1) !important;
border: none !important;
border-radius: 0px !important;  }
 
.navbar {
background: var(--Color2) !important;
color: var(--Color1) !important;
border: none !important;
border-radius: 0px !important;
font-size: 30px;
text-align: center !important;
}

.navbar li a:hover {
background: var(--Color2) !important;
color: var(--Color1) !important;
}

/* This is mobile collapable navbar color changes.
toggle is the button that opens the navbar
*/

.navbar-toggle {
border: none !important;
background: var(--Color4) !important;
}


/* Bookmark Bar - aka breadcrumb, this is where your link path is shown */

.breadcrumb {
background: var(--Color4) !important;
color: var(--Color5) !important;
border: none !important;
border-radius: 10px !important;} 
.breadcrumb .active {
color: var(--Color5); }

/* table body? */

.table {
    background: var(--Color2);
    border: 1px;
    color: var(--Color1);
}

.top, .bottom, th {
background: var(--Color3) !important;
color: var(--Color1) !important;
border: none !important;
border-radius: 0px !important; }

/* table.left will be used by the sections on the left of the edit your details panel once open
.inner-table .left is used by the table that displays the names of the sections of
info about your den, like your territory, your king's stats, etc. 
.inner-table .right is used by the boxes next to the king's info, that displays the actual info. */
 
.table .left {
background: var(--Color4);
border-radius: 0px !important; }

.inner-table .left {
background: var(--Color4) !important;
border-radius: 0px !important;
color: var(--Color5) !important;
}

.inner-table .right {
background: var(--Color5) !important;
border-radius: 0px !important; 
color: var(--Color4) !important; } 

/* FAPA, KING DYNASTY, ETC. */
 
.feature {
background: var(--Color4) !important;
color: var(--Color5) !important;
border: 3px double var(--Color5) !important;
border-radius: 0px !important;  }

div.left {
background: var(--Color3) !important;
color: var(--Color1) !important;
border: none !important;
border-radius: 10px !important; }

.xsmall {
font-size: 14px !important; }

/* Side panel */

.panel {
background: var(--Color2) !important;
color: var(--Color1) !important;
border: none !important;
border-radius: 10px !important;
box-shadow: none !important;  }

/* Progress bars */

/* background container */
.progress {
    background: var(--Color3);
    color: var(--Color1);
    border-radius: 10px;
    border: 1px;
}
.progress div {
color: var(--Color5) !important; }

.progress-bar {
background: var(--Color4) !important; 
border-radius: 10px !important; }

/* Text box and button? */

input, textarea, select, button.button,
a.btn.btn-default.button {
background: var(--Color2) !important;
border: none !important;
border-radius: 0px !important;
color: var(--Color1) !important;
text-shadow: none !important; }

/* CAVE NAMES - changes the color of of where cave names are displayed */
 
.cave-grid,
.mound-grid {
background: var(--Color4) !important;
color: var(--Color5) !important;
border: none !important;
border-radius: 0px !important; }

/* LINKS */
 
a:link,
a:visited {
color: var(--Color1)!important;
background: none !important; }

.inner-table .right a:link,
.inner-table .right a:visited {
 Color: var(--Color4)!important;
 background: none !important; }
   
a:hover {
color: var(--Color5) !important; }

.inner-table .right a:hover {
color: var(--Color2) !important; }
