:root {
  Color1: #593414; /*Text, dark brown*/
  Color2: #D9B26A; /*BG, light yellow*/
  Color3: #BF8D50; /*Dark yellow*/
  Color4: #A3A7BF; /*Accents, Blue*/
  Color5: #F2E9ED; /*Light blue*/
}


/* ___'s den Header */
h1 {
color: var(Color1) !important;
font-size: 50px;
text-align: center !important;
}
 
/* BACKGROUNDS */

@media screen and (min-width: 601px) { 
body {
background: url('https://i.postimg.cc/XJZTXFnm/lioden-wardrobe-(1)-(21).png') center center fixed;
background-size: cover;
color: var(Color1); } }

@media screen and (max-width: 600px){
body {
background: url('https://i.postimg.cc/XJZTXFnm/lioden-wardrobe-(1)-(21).png') center center fixed;
background-size: cover;
color: var(Color1); } }

/* MAIN PANEL - The panel in front of your background image. Usually a solid color on Lioden.*/

.container.main {
background: var(Color2); /*MAKE TRANSPARENT!*/
transition: none !important;
animation: none !important;
border: none;
box-shadow: none;
border-radius: 5px; }
.col-md-9 {
background: none; }

/* LION AND USER AVATAR OPACITY */
   
div#lion_image {
opacity: 1.0;
border-radius: 50%;
overflow: hidden; }   
table#player img {
opacity: 1.0;
border-radius: 50%; } 


/* CUSTOM KING TITLE - AFTER */

#about > tbody > tr:nth-child(1) > td > div::after {

    content:' Text';

    font-size:17px;
}


/* TOPBAR, NAVBAR, & BREADCRUMB */
 
.topbar {
background: var(Color3) !important;
color: var(Color1) !important;
border: none !important;
border-radius: 0px !important;  }
 
.navbar {
background: var(Color2) !important;
color: var(Color1) !important;
border: none !important;
border-radius: 0px !important; }

.navbar li a:hover {
background: #D9B166 !important;
color: var(Color1) !important; }

/* This is mobile collapable navbar color changes.
toggle is the button that opens the navbar
*/

.navbar-toggle {
border: none !important;
background: var(Color4) !important;
}


/* Bookmark Bar - aka breadcrumb, this is where your link path is shown */

.breadcrumb {
background: var(Color4) !important;
color: var(Color5) !important;
border: none !important;
border-radius: 10px !important;} 
.breadcrumb .active {
color: #HEX; }

/* table body? */

.table {
    background: var(Color2);
    border: 1px;
    color: var(Color1);
    box-shadow: 1px 1px 1px var(Color4);
}
 
/* FAPA, KING DYNASTY, ETC. */
 
.feature {
background: var(Color4) !important;
color: var(Color5) !important;
border: 3px double #HEX !important;
border-radius: 0px !important;  }

div.left {
background: var(Color3) !important;
color: var(Color1) !important;
border: none !important;
border-radius: 10px !important; }

.xsmall {
font-size: 14px !important; }

/* Side panel */

.panel {
background: var(Color2) !important;
color: var(Color1) !important;
border: none !important;
border-radius: 10px !important;
box-shadow: none !important;  }

/* Progress bars */

/* background container */
.progress {
    background: var(Color5);
    border-radius: 10px;
    border: 1px;
}

.progress-bar {
background: var(Color4) !important; 
border-radius: 10px !important; }

/* Text box and button? */

input, textarea, select, button.button,
a.btn.btn-default.button {
background: var(Color2) !important;
border: none !important;
border-radius: 0px !important;
color: var(Color1) !important;
text-shadow: none !important; }
