
/* ___'s den Header */
h1 {
color: #59310E !important;
font-size: 50px;
text-align: center !important;
}
 
/* BACKGROUNDS */

@media screen and (min-width: 601px) { 
body {
background: url('https://i.postimg.cc/XJZTXFnm/lioden-wardrobe-(1)-(21).png') center center fixed;
background-size: cover;
color: #59310E; } }

@media screen and (max-width: 600px){
body {
background: url('https://i.postimg.cc/XJZTXFnm/lioden-wardrobe-(1)-(21).png') center center fixed;
background-size: cover;
color: #59310E; } }

/* MAIN PANEL - The panel in front of your background image. Usually a solid color on Lioden.*/

.container.main {
background: #FFE2A640;
transition: none !important;
animation: none !important;
border: none;
box-shadow: none;
border-radius: 5px; }
.col-md-9 {
background: none; }

/* LION AND USER AVATAR OPACITY */
   
div#lion_image {
opacity: 1.0;
border-radius: 50%;
overflow: hidden; }   
table#player img {
opacity: 1.0;
border-radius: 50%; } 


/* CUSTOM KING TITLE - AFTER */

#about > tbody > tr:nth-child(1) > td > div::after {

    content:' Text';

    font-size:17px;
}


/* TOPBAR, NAVBAR, & BREADCRUMB */
 
.topbar {
background: #D9B166 !important;
color: #59310E !important;
border: none !important;
border-radius: 0px !important;  }
 
.navbar {
background: #D9B166 !important;
color: #59310E !important;
border: none !important;
border-radius: 0px !important; }

.navbar li a:hover {
background: #D9B166 !important;
color: #e4a574 !important; }

/* This is mobile collapable navbar color changes.
toggle is the button that opens the navbar
*/

.navbar-toggle {
border: none !important;
background: #A3A4BF !important;
}


/* Bookmark Bar - aka breadcrumb, this is where your link path is shown */

.breadcrumb {
background: #A3A4BF !important;
color: #BEBFE2 !important;
border: none !important;
border-radius: 10px !important;} 
.breadcrumb .active {
color: #HEX; }

/* FAPA, KING DYNASTY, ETC. */
 
.feature {
background: #BF8D50 !important;
color: #59310E !important;
border: 3px double #HEX !important;
border-radius: 0px !important;  }

div.left {
background: #A3A4BF !important;
color: #BEBFE2 !important;
border: none !important;
border-radius: 10px !important; }

.xsmall {
font-size: 14px !important; }

/* Side panel */

.panel {
background: #D9B166 !important;
color: #59310E !important;
border: none !important;
border-radius: 10px !important;
box-shadow: none !important;  }

/* Progress bars */

.progress-bar {
background: #A3A4BF !important; 
border-radius: 10px !important; }

/* Text box and button? */

input, textarea, select, button.button,
a.btn.btn-default.button {
background: #D9B166 !important;
border: none !important;
border-radius: 0px !important;
color: #59310E !important;
text-shadow: none !important; }
