
/* ___'s den Header */
h1 {
color: #59310E !important;
font-size: 54px;
text-align: center !important;

/* BACKGROUNDS 
The first one is for PC, the second is for mobile. You can also use an image in the second one
via replacing #HEX with url('IMG LINK') center center fixed;
BUT I recommend repeating patterns rather than full images. */
 
@media screen and (min-width: 601px) { 
body {
background: url('https://i.postimg.cc/XJZTXFnm/lioden-wardrobe-(1)-(21).png') center center fixed;
background-size: 100%;
color: #ffe2a6; } }

@media screen and (max-width: 600px){
body {
background: url('https://i.postimg.cc/XJZTXFnm/lioden-wardrobe-(1)-(21).png ') center center fixed;
background-size: cover;
color: #ffe2a6; } }

/* MAIN PANEL - The panel in front of your background image. Usually a solid color on Lioden.
You can make it a solid color by either using a HEX code, or by setting the final number in RGBA to 1.0 */
   
.container.main {
background: #FFE2A6;
border: none;
box-shadow: none;
border-radius: 5px; }
.col-md-9 {
background: none; }

/* LION AND USER AVATAR OPACITY */
   
div#lion_image {
opacity: 1.0;
border-radius: 50%;
overflow: hidden; }   
table#player img {
opacity: 1.0;
border-radius: 50%; } 


/* CUSTOM KING TITLE - AFTER */

#about > tbody > tr:nth-child(1) > td > div::after {

    content:', TEXT';

    font-size:17px;
}
