.dynamic-box {
  width: 75px;
  height: 50px;
  padding: 10px;
  border: 5px solid #BF8D50;
  margin: 0;
}

Body:has(:contains("day Time"):has(:contains("dry Season")))
.dynamic-box {background-image:url(' ')}

Body:has(:contains("day Time"):has(:contains("wet Season")))
.dynamic-box {background-image:url(' ')}

Body:has(:contains("night Time"):has(:contains("dry Season")))
.dynamic-box {background-image:url(' ')}

Body:has(:contains("night Time"):has(:contains("wet Season")))
.dynamic-box {background-image:url(' ')}
