.dynamic-box {
  width: 75px;
  height: 50px;
  padding: 10px;
  border: 5px solid #BF8D50;
  margin: 0;
  Background-color: #D9B26A;
}

Body:has(:contains("day Time"):has(:contains("dry Season")))
.dynamic-box {background-image:url('https://i.postimg.cc/k4g64gfP/7thlionlands-Day.png')}

Body:has(:contains("day Time"):has(:contains("wet Season")))
.dynamic-box {background-image:url('https://i.postimg.cc/PqrYLyqk/7thlionlands-Wet-Day.png')}

Body:has(:contains("night Time"):has(:contains("dry Season")))
.dynamic-box {background-image:url('https://i.postimg.cc/V5QkjfBf/7thlionlands-Night.png')}

Body:has(:contains("night Time"):has(:contains("wet Season")))
.dynamic-box {background-image:url('https://i.postimg.cc/WbLZmT41/7thlionlands-Wet-Night.png')}
