.dynamic-box {
  width: 75px;
  height: 50px;
  padding: 10px;
  border: 5px solid #BF8D50;
  margin: 0;
  background-color: #D9B26A;
}

body:has(:img[src:icon-time-day.png]:has(:img[src:icon-season-dry.png]))
.dynamic-box {background-image:url('https://i.postimg.cc/k4g64gfP/7thlionlands-Day.png')}

body:has(:img[src:icon-time-day.png]:has(:img[src:icon-season-wet.png]))
.dynamic-box {background-image:url('https://i.postimg.cc/PqrYLyqk/7thlionlands-Wet-Day.png')}

body:has(:img[src:icon-time-night.png]:has(:img[src:icon-season-dry.png]))
.dynamic-box {background-image:url('https://i.postimg.cc/V5QkjfBf/7thlionlands-Night.png')}

body:has(:img[src:icon-time-night.png]:has(:img[src:icon-season-wet.png]))
.dynamic-box {background-image:url('https://i.postimg.cc/WbLZmT41/7thlionlands-Wet-Night.png')}
